# Кэш Python
__pycache__/
*.pyc

# Базы данных
*.db
*.sqlite3

# Виртуальное окружение
venv/
.venv/

# Переменные окружения (секреты)
.env

# Docker
.dockerignore

# Runtime data
data/
logs/
bot_*.log
